name: autoscroll_app
description: "A professional auto-scroller for short-form video apps with floating overlay and background service support."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  flutter_overlay_window: ^0.5.0
  flutter_background_service: ^5.0.10
  permission_handler: ^12.0.1
  flutter_riverpod: ^3.1.0
  shared_preferences: ^2.2.3
  device_info_plus: ^12.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
